<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="comment-info">
            <span class="mini-username">{{user.username}}</span> on {{format_date created_at}}
        </div>
        <div class="comment-text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>