<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Tech News</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
      <header id="site-header">
            <ul id="site-nav">
                <li class="nav-item" id="homepage-nav-item"><a href="/">Tech Blog</a></li>
                {{#if loggedIn}}
                <li class="nav-item"><a href="/dashboard">My Dashboard</a></li>
                <li class="nav-item" id="logout"><a>Sign Out</a></li>
                {{else}}
                <li class="nav-item"><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </header>
      <main>
        <div class="main-page-post-list">
          {{{ body }}}
        </div>
      </main>
    </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>