{{#if posts.length}}
<section class="my-posts">
  <h2>My Posts</h2>
  <ul class="dashboard-post-list">
    {{#each posts as |post|}}
    <li>
      {{> post-snippet post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{else}}
  <section class="my-posts">
    <h2>No Posts Yet!</h2>
  </section>
{{/if}}


<section class="createNewPost">
  <button class="create-new-post">Create New Post</button>

  <form class="new-post-form" hidden>
    <div>
      <input type="text" id="post-title" name="post-title" placeholder="My New Title"/>
    </div>
    <p class="markdown-reminder">Your post body will be rendered in markdown! Check out <a href="https://www.markdownguide.org/cheat-sheet" target="blank">this</a> style cheat sheet for some quick reminders to get started :)</p>
    <div>
      <textarea id="post-body-input" name="post-body"></textarea>
    </div>
    <button type="submit" class="publish">Publish!</button>
    <p class="discard">Discard Draft</p>

  </form>
</section>


<script src="/js/add-post.js"></script>